.u-section-1 {
  background-image: linear-gradient(#292d33, #555c66);
}

.u-section-1 .u-sheet-1 {
  min-height: 326px;
}

.u-section-1 .u-text-1 {
  margin: 137px 102px 137px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 972px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }
}.u-section-2 {
  background-image: linear-gradient(#465668, #56779d);
}

.u-section-2 .u-sheet-1 {
  min-height: 145px;
}

.u-section-2 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-2 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -427px 20px 43px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 84px 138px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-2 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 416px;
  }

  .u-section-2 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -374px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-2 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -215px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(#56779d, #56779d);
}

.u-section-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-3 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-3 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -427px 20px 103px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0 138px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-3 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-top: -7px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-top: -72px;
    margin-right: auto;
    margin-bottom: -7px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 416px;
    margin-top: 60px;
  }

  .u-section-3 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -374px;
    margin-bottom: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-3 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -215px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: linear-gradient(#56779d, #85afe0);
}

.u-section-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-4 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-4 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -425px 20px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  margin: 127px 138px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-4 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 416px;
  }

  .u-section-4 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -372px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-4 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -213px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: linear-gradient(#85afe0, #b6d0ed);
}

.u-section-5 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-5 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -427px 20px 103px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-5 .u-text-1 {
  margin: 127px 137px 0 1px;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-5 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-5 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-top: -7px;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-top: -72px;
    margin-right: auto;
    margin-bottom: -7px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 416px;
    margin-top: 60px;
  }

  .u-section-5 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -374px;
    margin-bottom: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-5 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -215px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-6 {
  background-image: linear-gradient(#b6d0ed, #fef9e6);
}

.u-section-6 .u-sheet-1 {
  min-height: 603px;
}

.u-section-6 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-6 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -427px 20px 103px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-6 .u-text-1 {
  margin: 85px 138px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-6 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-6 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-top: -7px;
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-top: -72px;
    margin-right: auto;
    margin-bottom: -7px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 416px;
    margin-top: 60px;
  }

  .u-section-6 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -374px;
    margin-bottom: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-6 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -215px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}.u-section-7 {
  background-image: linear-gradient(#fef9e6, #f9e79b);
}

.u-section-7 .u-sheet-1 {
  min-height: 603px;
}

.u-section-7 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-7 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -427px 20px 103px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0 138px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-7 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-7 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-top: -7px;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-top: -72px;
    margin-right: auto;
    margin-bottom: -7px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 416px;
    margin-top: 60px;
  }

  .u-section-7 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -374px;
    margin-bottom: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-7 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -215px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }
}.u-section-8 {
  background-image: linear-gradient(#f9e79b, #b29a36);
}

.u-section-8 .u-sheet-1 {
  min-height: 603px;
}

.u-section-8 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-8 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -427px 20px 103px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-8 .u-text-1 {
  margin: 127px 138px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-8 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-8 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-top: -7px;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-top: -72px;
    margin-right: auto;
    margin-bottom: -7px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 416px;
    margin-top: 60px;
  }

  .u-section-8 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -374px;
    margin-bottom: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-8 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -215px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}.u-section-9 {
  background-image: linear-gradient(#b29a36, #333129);
}

.u-section-9 .u-sheet-1 {
  min-height: 603px;
}

.u-section-9 .u-image-1 {
  width: 607px;
  height: 483px;
  margin: 60px auto 0 20px;
}

.u-section-9 .u-group-1 {
  width: 575px;
  min-height: 384px;
  margin: -427px 20px 103px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-9 .u-text-1 {
  margin: 127px 138px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    width: 627px;
    margin-left: 0;
  }

  .u-section-9 .u-group-1 {
    width: 444px;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-9 .u-btn-1 {
    letter-spacing: normal;
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-9 .u-image-1 {
    width: 680px;
    height: 542px;
    margin-top: -7px;
    margin-left: auto;
  }

  .u-section-9 .u-group-1 {
    width: 600px;
    min-height: 382px;
    margin-top: -72px;
    margin-right: auto;
    margin-bottom: -7px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 416px;
    margin-top: 60px;
  }

  .u-section-9 .u-group-1 {
    width: 461px;
    min-height: 359px;
    margin-top: -374px;
    margin-bottom: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 262px;
  }

  .u-section-9 .u-group-1 {
    min-height: 295px;
    width: 295px;
    margin-top: -215px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }
}